DEVICE=
SHAPEFILES_PATH=
OPENEO_DOWNLOADS_PATH=
THARSIS_TILT_DATA_PATH=
CANTERAS_WEATHER_DATA_PATH=
PRISMA_DATA_PATH=/
ENMAP_DATA_PATH=
CHECKPOINTS_PATH=
LUCL_MODEL=
OBJDET_SAM_CHECKPOINT=
OBJDET_SAM_CONFIG=
CHANGEDET_CHECKPOINT_DIR=
LLAVA_CHECKPOINT_DIR=
QWEN_CHECKPOINT_DIR=