DEVICE=cuda:0

SHAPEFILES_PATH=data/shapefiles
OPENEO_DOWNLOADS_PATH=data/openeo_downloads
# Data
THARSIS_TILT_DATA_PATH=data/terravision_sensor_data/tharsis
CANTERAS_WEATHER_DATA_PATH=data/terravision_sensor_data/canteras
PRISMA_DATA_PATH=data/terravision_PRISMA/
ENMAP_DATA_PATH=data/terravision_EnMAP/
OUTPUT_DIR=outputs
CHECKPOINTS_PATH=checkpoints
# Models
LUCL_MODEL=checkpoints/LulcClassification/segformer.pth
OBJDET_SAM_CHECKPOINT=checkpoints/ObjectDetection/sam2.1_hiera_large.pt
OBJDET_SAM_CONFIG=configs/sam2.1/sam2.1_hiera_l.yaml
CHANGEDET_CHECKPOINT_DIR=checkpoints/ChangeDetection/checkpoint-epoch25/
LLAVA_CHECKPOINT_DIR=checkpoints/llava_lora_train_128_10_1e-5_checkpoint-1200/
QWEN_CHECKPOINT_DIR=checkpoints/Qwen/checkpoint-26342
